# main repository
git / https://github.com/OpenEngineDK/openengine.git
git-dev / git@github.com:OpenEngineDK/openengine.git

# project repository
# (uncomment the following two lines after uploading your project)
git /projects/IRC_Basic https://github.com/OpenEngineDK/projects-IRC_Basic.git
git-dev /projects/IRC_Basic git@github.com:OpenEngineDK/projects-IRC_Basic.git

# required extensions
# dist style
dist /extensions/IRC/IRC.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-IRC/master/IRC.dist
